html{
  margin: 0 auto;
  background: url("stairs.png");
  background-size: cover;
}

#headingText{
  margin: 5% auto;
  text-align: center;
  font-size: 180%;
  line-height: 0.5em;
  color: black;
}

#searchBar{
  margin: 0 auto;
  text-align: center;
}


#submit{
  width: 0 auto;
  background: black;
  margin: 2em 1em;
  padding: 0.6em 2em;
  color: white;
  font-weight: bold;
  /*box-shadow:10px 10px 5px #888888;*/
}


#search{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  width: 20%;
  height: 4em;
  line-height: 1em;
  background-size: 1.2em 2em;
}

ul li{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin: 0.7em;
}


li{
  border: 10px, solid, white;
}